/* Общие стили */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #333;
}

h2 {
  color: #333;
}

/* Контейнер для основного содержимого */
.container {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Стили для формы */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type='text'],
input[type='number'],
button {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

input[type='text'],
input[type='number'] {
  width: 100%;
}

button {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #45a049;
}

label {
  font-size: 14px;
  margin-top: 5px;
}

/* Стили для списка продуктов */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #fafafa;
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

li h3 {
  margin: 0;
  font-size: 18px;
}

li p {
  margin: 5px 0;
  font-size: 14px;
  color: #666;
}

button {
  margin-top: 10px;
}

button:nth-child(1) {
  background-color: #007bff;
}

button:nth-child(1):hover {
  background-color: #0056b3;
}

button:nth-child(2) {
  background-color: #dc3545;
}

button:nth-child(2):hover {
  background-color: #c82333;
}

/* Стили для доступности */
.available {
  color: green;
}

.unavailable {
  color: red;
}
